@model AddGenreViewModel;

@{
    ViewData["Title"] = "Add Genre";
}

<form asp-controller="Genre" asp-action="AddGenre" method="post">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
    </div>
    <input class="btn btn-sm btn-primary" type="submit" value="Create Genre" />
</form>
<br /><br />
<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="d-flex">
                <th class="col-md-10">
                    Genre
                </th>
                <th class="col-md-2">
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var genre in Model.Genres)
            {
                <tr class="d-flex">
                    <td class="col-md-10">
                        @genre.Name
                    </td>
                    <td class="col-md-2">
                        <a asp-action="EditGenre" asp-route-id="@genre.Id" class="btn btn-info">Edit</a>
                        <a asp-action="Delete" asp-route-id="@genre.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
