@model AddGenreViewModel;

@{
    ViewData["Title"] = "Add Genre";
}

<form asp-controller="Genre" asp-action="AddGenre" method="post">
    <div class="row">
        <div class="col-md-6">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
    </div>
    <input class="btn btn-sm btn-primary" type="submit" value="Create Genre" />
</form>
<br /><br />
<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                Genre
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var genre in Model.Genres)
        {
            <tr>
                <th>
                    @genre.Name
                </th>
                <th>
                    @*<form asp-controller="Users" asp-action="AddToRole" method="post">
                        <div class="row">
                            <div class="col-md-8">
                                <input type="hidden" name="UserId" value="@user.Id" />
                                <select name="Role" asp-items="Model.Roles" class="form-control"></select>
                            </div>
                            <div class="col-md-4">
                                <input class="btn btn-sm btn-primary" type="submit" value="Add Role" />
                            </div>
                        </div>
                    </form>*@
                </th>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}