@{
    ViewData["Title"] = "Edit Genre";
}

<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr class="d-flex">
                <th class="col-md-10">
                    Genre
                </th>
                <th class="col-md-2">
                    Options
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var genre in Model.Genres)
            {
                <tr class="d-flex">
                    <td class="col-md-10">
                        @genre.Name
                    </td>
                    <td class="col-md-2">
                        <a asp-action="EditGenre" asp-route-id="@genre.Id" class="btn btn-info">Edit</a>
                        <a asp-action="Delete" asp-route-id="@genre.Id" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>