@model IEnumerable<MovieServiceModel>
@{
    ViewData["Title"] = "Movies";
}


<h3>@ViewData["Title"]</h3>

@foreach (var movie in Model)
{
    <div class="col-sm-3 thumbnail-main">
        <a asp-action="Details" asp-route-id="@movie.Id" />
        <img src="@movie.PosterPath" class="img-fluid movie-poster" alt="Responsive image" asp-action="Details" asp-route-id="@movie.Id">
        <br /><br />
    </div>
}
