@model IEnumerable<MovieServiceModel>
@{
    ViewData["Title"] = "Movies";
}


<h3>@ViewData["Title"]</h3>

<div class="row justify-content-around">
    @foreach(var movie in Model)
    {
        <div class="col-md-4">
            <img src="@movie.PosterPath" class="img-fluid" alt="Responsive image">
            <a asp-action="Details" asp-route-id="@movie.Id" class="btn btn-info">Details</a>
        </div>
    }
</div>